/* .parent {
  width: 800px;
  height: 100px;
} */

.one {
  background-color: orange;
  max-width: 500px;
  padding: 20px;
  /* max-width: 50%; */
  min-height: 100px;
  /* height: 50%; */
  /* word-break: break-all; */
  /* overflow: visible; */
  /* overflow: hidden; */
}

.two {
  background-color: rgb(255, 0, 0);
}
